body {
    display: flex;
    justify-content: center;
}

.wrapper {
    margin-top: 300px;
}

.deleteButton {
    margin-left: 12px;
}

.toDoItem {
    border-style: solid;
    border-color: red;
    text-align: center;
}

.listDiv {
    border-style: solid;
    border-color: green;
    border-width: 5px;
}

.inputDiv {
    border-style: solid;
    border-color: blue;
}